*{
  margin:0;
}
.container{
  margin:0 auto;
  box-sizing: border-box;
  width: 1280px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header{
  display: flex;
  justify-content: space-between;
  width: 960px;
  align-items: center;
}
header>p{
  font-size: 1.5rem;
  font-weight: bold;
}
header>ul{
  display: flex;
  list-style: none;
}
header>ul>li{
  margin-right: 15px;
}
header>ul>li>a{
  text-decoration: none;
}
header>ul>li>a:hover{
  border-bottom: 2px dotted gray;
  padding-bottom: 3px;
}
#i1{
  width: 75px;
  height: 40px;
  background-color: white;
  border : 1px solid black;
  border-radius: 5px;
  font-size: 0.95rem;
  box-shadow: 1px 1px black;
}
#i2{
  width: 111px;
  height: 41px;
  background-color: black;
  border : 1px solid black;
  border-radius: 5px;
  color: white;
  font-size: 0.95rem;
}
#i1:hover{
  background-color: lightgray;
  color: black;
}
#i2:hover{
  background-color: lightgray;
  color: black;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.text{
  transform: translateY(-60px);
}
.text>h1{
  font-size: 2rem;
  padding: 20px;
}
#im:hover{
  transform: rotateY(360deg);
  transition: all 2.5s ease ;
}
